<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUsersManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMessageService">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.1.64:8080/Service" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUsersManager" contract="DataService.IUsersManager"
                name="NetTcpBinding_IUsersManager" />
            <endpoint address="net.tcp://192.168.1.64:8080/Service" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMessageService" contract="DataService.IMessageService"
                name="NetTcpBinding_IMessageService" />
        </client>
    </system.serviceModel>
</configuration>